[user]
	name = Todd Taomae
	email = ttaomae@gmail.com

[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input

[alias]
	ap = add --patch
	adp = add --patch
	ai = add --interactive
	adi = add --interactive
	df = diff
	dc = diff --cached
	dfs = diff --stat
	dfss = diff --shortstat
	co = checkout
	st = status
	ci = commit --verbose
	cia = commit --amend --verbose
	cim = commit --message
	br = branch
	sw = switch
	rb = rebase
	rbi = rebase --interactive
	rbc = rebase --continue
	rba = rebase --abort
	rs = reset
	sh = stash
	lg = log -n 20 --color --graph --pretty=format:'%C(bold red)%h%Creset - %C(green)%<(20)%ar%Creset %s'
	lga = !git lg --all
	lgn = !git lg -n
	lgan = !git lg --all -n
	lg1 = !git lg
	lg1a = !git lga
	lg1n = !git lgn
	lg1an = !git lgan
	lg2 = log -n 20 --color --graph --pretty=format:'%C(bold red)%h%Creset - %C(green)%<(20)%ar%Creset %<(80,trunc)%s %C(bold yellow)%d%Creset'
	lg2a = !git lg2 --all
	lg2n = !git lg2 -n
	lg2an = !git lg2 --all -n
	lg3 = log -n 10 --color --graph --pretty=format:'%C(bold red)%h%Creset - %C(bold green)%ai (%ar)%Creset %C(green)%cr%Creset %C(bold yellow)%d%Creset%n          %s %C(cyan)<%an>%Creset%n'
	lg3a = !git lg3 --all
	lg3n = !git lg3 -n
	lg3an = !git lg3 --all -n
	dfside = -c pager.diff='delta --line-numbers --syntax-theme=DarkNeon --side-by-side' diff
[color.status]
	changed = bold red
	untracked = bold red
	added = bold green
[color.diff]
	new = bold green
	old = bold red
[diff]
	compactionHeuristic = true

[interactive]
	diffFilter = delta --color-only --keep-plus-minus-markers

[pager]
	diff = delta --line-numbers --syntax-theme=DarkNeon
